
<div class="well">
  <%= link_to "New User", new_user_path, remote: true, class: "btn btn-primary" %>
</div>
<div class="new-user"></div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="role-index">
     <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user , class: "btn btn-default" %></td>
        <td><%= link_to "Edit", edit_user_path(user), remote: true, class: "btn btn-default" %></td>
        <td><%= link_to "Delete", user_delete_path(user), remote: true, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="user-modal" class="modal fade"></div>